/* Import and Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colours and Font Styles */

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex; 
    flex-direction: column;
    --dark-blue-color: #1F2937;
    --light-blue-color: #3882F6;
    --white-color: #F9FAF8;
    --grey-color: #E5E7EB;
    --x-bold-weight: 900;
    --bold-weight: 700;
    --reg-weight: 400;
    --light-weight: 200;
}

.content {
    flex: 1;
}

/* Header */

.header {
    background-color: var(--dark-blue-color);
    padding: 24px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white-color);
    font-weight: var(--bold-weight);
    font-size: 24px;
}

a {
    color: var(--grey-color);
    font-weight: var(--light-weight);
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

/* Hero Section */

.hero-section {
    background-color: var(--dark-blue-color);
    padding: 72px 64px 64px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.left-hero {
    width: 400px;
    flex: auto;
}

.right-hero {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    flex: auto;
}

.hero-header {
    color: var(--white-color);
    font-weight: var(--bold-weight);
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-text {
    color: var(--grey-color);
    margin-bottom: 16px;
}

.primary-button {
    background-color: var(--light-blue-color);
    color: var(--white-color);
    font-weight: var(--bold-weight);
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

/* Services Section */

.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 64px 32px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.service-header {
    color: var(--dark-blue-color);
    font-weight: var(--x-bold-weight);
    font-size: 36px;
    margin-bottom: 48px;
}

.service-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background-color: lightgrey;
    width: 160px;
    height: 160px;
    margin-bottom: 16px;
}