/* Import and Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colours and Font Styles */

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex; 
    flex-direction: column;
    --dark-blue-color: #1F2937;
    --light-blue-color: #3882F6;
    --white-color: #F9FAF8;
    --grey-color: #E5E7EB;
    --x-bold-weight: 900;
    --bold-weight: 700;
    --reg-weight: 400;
    --light-weight: 200;
    color: var(--dark-blue-color);
}

.content {
    flex: 1;
}

/* Header */

.header-section {
    background-color: var(--dark-blue-color);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.logo {
    color: var(--white-color);
    font-weight: var(--bold-weight);
    font-size: 24px;
}

a {
    color: var(--grey-color);
    font-weight: var(--light-weight);
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

/* Hero Section */

.hero-section {
    background-color: var(--dark-blue-color);
    padding: 72px 24px  64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.left-hero,
.right-hero {
    min-width: 300px;
    max-width: 450px;
    flex: 1;
}

.right-hero img {
    width: 100%;
    border-radius: 12px;
}

.hero-header {
    color: var(--white-color);
    font-weight: var(--bold-weight);
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-text {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: var(--light-weight);
    margin-bottom: 24px;
}

.primary-button {
    background-color: var(--light-blue-color);
    color: var(--white-color);
    font-weight: var(--bold-weight);
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
}

/* Services Section */

.service-section {
    padding: 64px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.service-header {
    font-weight: var(--x-bold-weight);
    font-size: 36px;
    margin-bottom: 48px;
    text-align: center;
}

.service-item {
    width: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
}

.subtext {
    text-align: center;
}

/* Quote Section */

.quote-section {
    background-color: var(--grey-color);
    padding: 64px;
}

.quote-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: var(--light-weight);
    margin-bottom: 24px;
    flex: 1;
}

.quote-person {
    font-weight: var(--bold-weight);
    font-size: 20px;
    align-self: flex-end;
    padding-right: 32px;
}

/* CTA Section */

.cta-section {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: var(--light-blue-color);
    padding: 48px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    border-radius: 12px;
}

.cta-header {
    color: var(--white-color);
    font-size: 24px;
    font-weight: var(--bold-weight);
    margin-bottom: 8px;
}

.cta-subtitle {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: var(--light-weight);
}

.secondary-button {
    background-color: var(--light-blue-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 6px;
    padding: 8px 24px;
    align-self: center;
}

/* Footer */

.footer {
    background-color: var(--dark-blue-color);
    color: var(--grey-color);
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
